.form-group {
    padding: 0px 20px 0px 20px;
}

.form-label {
    font-size: 1.8em;
    font-family: 'Roboto';
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
}

.days-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 100%;
}

.button-day {
    border-radius: 10px;
    background-color: #eaeaea;
    padding: 10px;
    font-size: 1.4em;
    width: 100%;
}

select {
    text-transform: none;
    font-family: 'Roboto';
    font-size: 1.4em;
    width: 100%;
    background-color: #f5f5f5;
}