.form-label {
    font-size: 1.8em;
    font-family: 'Roboto';
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
}

button,
select {
    text-transform: none;
    font-family: 'Roboto';
    font-size: 1.4em;
    width: 100%;
    background-color: #f5f5f5;
}