.card-header {
    background-color: #eaeaea;
    font-size: 1.3em;
    padding: 15px;
    padding-top: 45px;
    height: 120px;
}

.card-header h1 {
    font-family: 'Roboto';
    font-size: 2em;
    margin-bottom: 20px;
}